@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.hero-background {
    background: url("../image/background.jpg");
    /*background: #c0c0c0;*/
    background-repeat: no-repeat;
    max-width: 1550px;
    height: 100vh;
    margin: 0 auto;
    background-size: 100%;
}

.hero-container {
    width: 1120px;
    margin: 0 178px 0 165px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 17px;
}

.navbar-logo {
    text-align: center;
    cursor: pointer;
}

.logo-text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 60px;
    position: relative;
}

.logo-text:hover {
    color: #F26522;
}

.logo-subtext {
    padding-top: 6px;
    font-size: 18px;
    line-height: 18px;
}

.logo-text::before {
    position: absolute;
    left: -60px;
    bottom: 2px;
    content: "";
    width: 53px;
    height: 47px;
    background-image: url('../image/navlogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.logo-text:hover::before {
    background-image: url("../image/navlogohover.svg")
}


.navbar-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}

.navbar-link {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: end;
}

.hover-email:hover,
.hover-tel:hover {
    color: #F26522;
}


/*===========  main  =============*/

.hero-cards {
    display: grid;
    justify-content: space-between;
    grid-template-rows: 220px 220px;
    grid-template-columns: repeat(3, 300px);
    row-gap: 78px;

}

.card {
    width: 300px;
    position: relative;
    cursor: pointer;
}

.card:hover .dropdown-info {
    transition: .4s ease-in-out;
    z-index: 2;
    transform: translateY(0%);
}

.card-image {
    width: 100%;
}




.card-header {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
}

.card:hover .card-header {
    transition: .4s ease-in-out;
    color: #F26522;
}

.dropdown-info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2px);
    bottom: 2px;
    left: 1px;
    background: #F26522;
    z-index: -2;
    transform: translateY(90%);
}

.price-info {
    padding: 7px 16px 12px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.price {
    padding-top: 8px;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.details {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    position: relative;
    padding-right: 37px;
}

.details::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 12px;
    right: 16px;
    background: url("../image/dropdown-arrow.svg");
}


/*======== footer =============*/

.footer-hero {
    text-align: center;
    margin-top: 90px;

}

.footer-text {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}