@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header{
    margin-top: 64px;
}

.header__logo {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    text-decoration: none;
}

.logo_blue {
    color: #4bcaff;
}

.header__menu {
    margin-top: 40px;
    background: #35444F;
    display: flex;
    justify-content: center;
}

.header__list {
    text-align: center;
    border-left: 1px #fff solid;
    list-style: none;
    padding: 25px 0 19px;
    cursor: pointer;
}

.header__list:last-child{
    border-right: 1px #fff solid;
}

.header__list:hover {
    background-color: #222F3A;
}

.header__link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 25px;
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}


.aside-menu {
    display: inline-block;
    height: 400px;
    width: 345px;
    border: 1px solid #000000;
    text-align: left;
    list-style: none;
}

.aside__link {
    box-sizing: border-box;
    padding: 26px 82px 26px 44px;
    cursor: pointer;
}

.aside__link:hover {
    background: #DBDBDB;
    padding-left: 58px;
    transition: ease-in-out .5s;
}

.aside__list {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    text-decoration: none;
}

.aside__list:hover {
    font-weight: bold;
    color: #000;
}

.main__content {
    width: 885px;
}

.main__image {
    border: 1px solid #000000;
    overflow: hidden;
    transition: 1s;
}

.image-ramda {
    width: 320px;
    height: 381px;
    padding: 75px 268px 73px 297px;
}

.image-ramda:hover {
    transform: scale(1.2);
    transition: 1.2s;
    box-shadow: #495863;
}

.main-text {
    padding-top: 37px;
    box-sizing: border-box;
}

.main-paragraph {
    margin-top: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer__menu {
    display: flex;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    padding: 20px 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.header__link {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.footer__list:hover {
    color: #3181A6;
    padding-bottom: 10px;
    border-bottom: 1px solid #3181A6;
}

.footer__list {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}

.footer-copy {
    margin-left: 135px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}