@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1900px;
    text-align: center;
}

.header {
    background: url("../images/bg/header-bg.jpeg") no-repeat center;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #313131;
}

.header-logo {
    display: flex;
}

.header-image {
    padding: 0 27px 0 29px;
}

.nav-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.navmenu {
    display: flex;
    align-items: center;
}

.navmenu-item {
    list-style-type: none;
    padding-left: 35px;
}

.navmenu-item:first-child {
    padding-left: 0;
}

.navmenu-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navmenu-link:hover {
    color: #14B9D5;
}

.fav-search {
    padding: 26px;
}

.fav-search:hover {
    background: #000000;
}

.header-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 163px;
    background-color: rgba(0, 0, 0, .4);
}

.header-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}

.header-buttons {
    padding-top: 44px;
    padding-bottom: 74px;
}

.header-btn {
    width: 170px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px 19px;
    border-radius: 5px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

.btn-green {
    background: #89CA62;
}

.btn-blue {
    background: #14B9D5;
}

/*========= Posts ================*/

.title-common {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    margin-bottom: 52px;
}

.posts {
    background: #F2F2F2;
}

.posts-content {

    width: 1170px;
    height: 840px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    margin: 0 auto;

}

.post-card {
    width: 370px;
    background: #FFFFFF;
    margin-bottom: 30px;
}

.post-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 20px 0 22px 0;
}

/*====== Clients ========*/

.clients {
    background: url("../images/bg/parallax-bg.jpeg");
    background-attachment: fixed;
    height: 588px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 240px 3px 230px;
}


.clients-title {
    grid-column: 2;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.border {
    grid-column: 2;
    width: 60px;
    border-bottom: 1px #18B4CF solid;
    margin: 0 auto;

}

.clients-logo-container {
    display: grid;
    grid-row: 3;
    grid-column: 2;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 58px;
}

.rated-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.rated-image {
    width: 100%;
}

/*======= News ===========*/

/*.news-item-wrapper {*/
/*    width: 1168px;*/
/*    margin: 0 auto;*/
/*    display: grid;*/
/*}*/

.news-item-wrapper {
    width: 1170px;
    display: grid;
    margin: 0 auto;
    grid-gap: 42px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    grid-template-areas:
"top-wide top-wide top-wide-text small-top ."
"big-left big-left big-right big-right ."
"big-left-bottom big-left-bottom big-right-bottom big-right-bottom ."
"small-bottom wide-bottom wide-bottom wide-bottom .";
}

.top-wide {
    grid-area: top-wide;
    display: grid;
    grid-template-columns: 483px 373px;
}

.top-wide .news-description {
    /*grid-column: 1;*/
}

.small-top {
    grid-area: small-top;
}

.big-left {
    grid-area: big-left;
}

.big-right {
    grid-area: big-right;
}

.big-left-bottom {
    grid-area: big-left-bottom;
}

.big-right-bottom {
    grid-area: big-right-bottom;
}

.small-bottom {
    grid-area: small-bottom;
}

.wide-bottom {
    grid-area: wide-bottom;
    display: grid;
    grid-template-columns: 483px 373px;
}

.news-card {

}

.news-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
    padding: 15px;
    background: #F9F7F7;
}


.news-description {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: right;
    color: #5B6469;
    padding-right: 15px;
    text-align: right;
    background: #F9F7F7;

}

.news-image {
    width: 100%;
}

/*======== footer =================*/

.footer {
    background: #000000;
    display: grid;
    grid-columns: repeat(5, 1fr);
    grid-template-areas:
    'footer-text footer-text 1fr logo-wrapper .'
}

.footer-text {
    grid-area: footer-text;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    align-self: center;
}

.logo-wrapper {
    grid-area: logo-wrapper;
    padding: 30px 0;
    display: flex;
    align-items: start;
    justify-content: end;
}

.footer-img {
    align-items: center;
    justify-content: center;
}
